.profile-container {
  max-width: 1180px;
  margin: 32px auto;
  padding: 0 30px;
  width: 100%;
}

.profile-container header {
  align-items: center;
  display: flex;
}

.profile-container span {
  font-size: 20px;
  margin-left: 24px;
}

.profile-container header img {
  height: 64px;
}

.profile-container header a {
  margin-left: auto;
  margin-top: 0;
  width: 260px;
}

.profile-container header button {
  background-color: transparent;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  height: 60px;
  margin-left: 16px;
  transition: border-color .2s;
  width: 60px;
}

.profile-container header button:hover {
  border-color: #999;
}

.profile-container h1 {
  margin-bottom: 24px;
  margin-top: 80px;
}

.profile-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.profile-container ul li {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  position: relative;
}

.profile-container ul li button {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 24px;
  top: 24px;
}

.profile-container ul li button:hover {
  opacity: .8;
}

.profile-container ul li strong {
  color: #41414d;
  display: block;
  margin-bottom: 16px;
}

.profile-container ul li p + strong {
  margin-top: 32px;
}

.profile-container ul li p {
  color: #737380;
  font-size: 16px;
  line-height: 21px;
}
